@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  /* margin: 0;
  padding: 0; */
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);

}

main {
  background-color: hsl(217, 19%, 24%);
  max-width: 45rem;
  text-align: center;
  padding: 2.7em 2.7em 0em 2.7em;
  border-radius: 1rem;
  
}

.divider,
img {
  width: 100%;
}

.divider {
margin-top: 2em;
margin-bottom: 1em;
}

p {
  color: white;
  font-size: 1.5rem;
}


button {
    width: 4em;
    height: 4em;
    border-radius: 3em;
    padding: 1em;
    border: none;
    background-color:  hsl(150, 100%, 66%);
    align-content: center;
}

#move {
    margin-bottom: -4%;
}

button:hover {
    box-shadow: 0px 0px 54px 7px rgba(82,255,168,1);
-webkit-box-shadow: 0px 0px 54px 7px rgba(82,255,168,1);
-moz-box-shadow: 0px 0px 54px 7px rgba(82,255,168,1);
}

h5 {
    color:  hsl(150, 100%, 66%);
    letter-spacing: 0.3em;
    margin-top:2em ;
    margin-bottom: 2em;
}

